# ======================
# Django .gitignore
# ======================

# ─── DATABASE FILES ───────────────────────────────
data/

# ─── ENVIRONMENT FILES ────────────────────────────
.env
.env.*
!.env.sample-cpanel  # Optional: keep a template

# ─── STATIC & MEDIA FILES ─────────────────────────
staticfiles/       # Ignore collected static files (not app static)
media/             # Ignore user-uploaded media
uploads/           # Custom upload folder


# ─── MISC ─────────────────────────────────────────
*.bak
*.tmp

# ─── VIRTUAL ENVIRONMENTS ─────────────
env/
venv/
