{% extends 'accounts/accounts_base.html' %}

{% block account_content  %}
    <div>
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'accounts:register' %}">Register here</a></p>
        <p>Forgot password? <a href="{% url 'accounts:password_reset_request' %}">Reset password</a>
    </div>
{% endblock %}
