{% extends 'accounts/accounts_base.html' %}

{% block account_content  %}
    <div>
        <h2>Şifre Değiştirme</h2>
        {% if form.errors %}
            <div>
                <p style="color: red;">Please correct the errors below.</p>
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="old_password">Mevcut şifreniz</label>
                <input type="password" name="old_password" id="old_password" required>
                 {% if form.old_password.errors %}
                    <ul>
                        {% for error in form.old_password.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                <label for="new_password1">Yeni Şifre</label>
                <input type="password" name="new_password1" id="new_password1" required>
                 {% if form.new_password1.errors %}
                    <ul>
                        {% for error in form.new_password1.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                <label for="new_password2">Yeni Şifre tekrar</label>
                <input type="password" name="new_password2" id="new_password2" required>
                {% if form.new_password2.errors %}
                    <ul>
                        {% for error in form.new_password2.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <button type="submit">Change</button>
        </form>

      
        <p>Go back home <a href="{% url 'core:home' %}">Home</a></p>
    </div>
{% endblock %}
