{% extends 'accounts/accounts_base.html' %}

{% block account_content  %}
    <div>
        <h2>Şifre Değiştirme</h2>
        {% if form.errors %}
            <div>
                <p style="color: red;">Please correct the errors below.</p>
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="new_password1">Password</label>
                <input type="password" name="new_password1" id="new_password1" required>
                 {% if form.new_password1.errors %}
                    <ul>
                        {% for error in form.new_password1.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                <label for="new_password2">Confirm Password</label>
                <input type="password" name="new_password2" id="new_password2" required>
                {% if form.new_password2.errors %}
                    <ul>
                        {% for error in form.new_password2.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <button type="submit">Login</button>
        </form>

      
        <p>Go back login <a href="{% url 'accounts:login' %}">Login here</a></p>
    </div>
{% endblock %}
