{% extends 'account/welcome/layout_welcome.html' %}
{% load static %}

{% block title %}Login | My Django App{% endblock %}

{% block head %}
<style>
    input { margin-top:4px; margin-right:10px}
</style>
{% endblock %}

{% block content %}
<div class="">
    <h1 class="h2 mb-4">Ne kadar cildinizi sıklıkla kuru ve pullanmış hissediyorsunuz?</h1>
    <div class="d-flex flex-column" data-toggle="buttons">
        <label class="btn btn-secondary text-start mb-2">
          <input type="checkbox">Sık sık
        </label>
        <label class="btn btn-secondary text-start  mb-2">
          <input type="checkbox">Sadece bazı ürünlerden sonra 
        </label>
        <label class="btn btn-secondary text-start  mb-2">
          <input type="checkbox">Sadece belirli bölgelerde
        </label>
        <label class="btn btn-secondary text-start  mb-2">
            <input type="checkbox">Pek değil
        </label>
        <label class="btn btn-secondary text-start  mb-2">
          <input type="checkbox">Asla
      </label>
    </div>

    <div class="d-grid gap-2 mt-5">
        <a class="btn btn-primary" href="{% url 'account:welcome_quiz_result' %}">Devam</a>
    </div>
</div>
     
{% endblock %}


{% block scripts %}
{% endblock %}