{% extends 'account/welcome/layout_welcome.html' %}
{% load static %}

{% block title %}Login | My Django App{% endblock %}

{% block content %}
<div class="">
    <h1 class="h2 mb-4">Merhaba, hoşgeldin :)  Kişisel bakım yolculuğuna başlayalım</h1>
    <p>XXX cilt, saç bakımında size yardımcı olmak için oluşturuldu.</p>

    <div class="d-grid gap-2 mt-5">
        <a class="btn btn-primary" href="{% url 'account:welcome_skin_goals' %}">Başla</a>
    </div>
</div>
     
{% endblock %}


{% block scripts %}
{% endblock %}