{% extends 'accounts/accounts_base.html' %}

{% block account_content  %}
    <div>
        <h2>Şifre hatırlatma</h2>
        {% if form.errors %}
            <div>
                <p style="color: red;">Please correct the errors below.</p>
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="email">E-posta</label>
                <input type="email" name="email" id="email" required>
                {% if form.email.errors %}
                    <ul>
                        {% for error in form.email.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <button type="submit">Login</button>
        </form>

      
        <p>Go back login <a href="{% url 'accounts:login' %}">Login here</a></p>
    </div>
{% endblock %}
