{% extends 'base.html' %}

{% block content %}
    {% if not user.is_authenticated %}
    <a href="{% url 'accounts:login' %}">Login here</a>
    <a href="{% url 'accounts:password-reset-request' %}">Reset Password</a>
    {% else %}
    <a href="{% url 'accounts:password-change' %}">Change Password</a>
    {% if not user.email_verified %}
    <a href="{% url 'accounts:email-change-request' %}">Request verify email</a>
    {% endif %}
    <form method="post" action="{% url 'pages:home' %}">
        {% csrf_token %}
        <button type="submit">Test email</button>
    </form>
    <a href="{% url 'accounts:email-change-request' %}">Change email</a>
    <a href="{% url 'accounts:logout' %}">Logout here</a>
    {% endif %}
{% endblock %}
